@charset "utf-8";

* { font: 1em "Open Sans", sans-serif; box-sizing: border-box; }
html { padding: 5px; }
img { border: 0; }
table { border-spacing: 0; }
td { padding: 5px; }

td.brdr { border: 1px solid black; }
td.brdr+td.brdr { border-width: 1px 1px 1px 0; }

.cntr { text-align: center; }
.fwbl { font-weight: bold; }
.shrp { background-color: #e6e6e6; }

#chrd { font-size: 0.7em; }
